

body{
    background-color: #292c2f;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}
button{
    padding: 20px 40px;
    
	color: #ffffff;
	font-size: 40px;
	opacity: 0.9;
	background: none;
    border: none;
    
}
.box{
    margin-left: 20px;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius:  5px;
    padding: 10px;
    color: aliceblue;
    font-size: 14px;
    display: inline-block;
}

button:hover{
    opacity: 1;
	font-size: 40px;
	color: orange;
}
.text {
    padding: 0 50px;
    padding-top: 40px;
	text-decoration:none;
	color: orange;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    background: none;
    border: none;
}

/* The header */
.header-basic {
    position: relative;
    right: 0;
    left: 0;
    top: -10;
	background-color: #292c2f;
	padding: 20px 40px;
	height: 30px;
    box-sizing: border-box;
    background-size: 120%;
   
}

.header-basic .header-limiter h1 {
    float: left;
    color: aliceblue;
	font: normal 60px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	padding-left: 40%;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: orange;
}


/* Footer */

footer {
    position: relative;
    /*width: 100%;*/
    background-color: #c1c4c7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    padding:  10px 20px;
    font: normal 14px Cookie, Arial, Helvetica, sans-serif;
    color: #292c2f;
    height: 40px;
    
  }

  .win p a {
    color: #292c2f;
}
  .win {
      text-align: center;
      font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  }

  .win p span {
    color: #292c2f;
    text-transform: uppercase;
}