html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

div {
    --size-cell: 70px;
    --border-cell: 5px;
    --size-pion: 50px;
    --size-ball:40px;
}
/* Players's box*/ 
aside {
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius:  5px;
    padding: 10px;
    color: aliceblue;
    font-size: 0.9;
    display: inline-block;
    bottom: 300px;
    margin: 20px;
}
.triangle{
    margin-left: auto;
    margin-right: auto;
    border-color: orange transparent transparent;
    border-style: solid;
    border-width: 15px 12px 0 ;
    cursor: pointer;
    height: 0;
    position: relative;
    width:0;
}
/* The header */
.header-basic {
    position: relative;
    right: 0;
    left: 0;
    top: -10;
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
    box-sizing: border-box;
    background-size: 120%;
   
}

.header-basic .header-limiter h1 {
    float: left;
    color: aliceblue;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: orange;
}

.header-basic .header-limiter nav{
	line-height: 40px;
    float: right;

}

.header-basic .header-limiter nav button{
	padding: 0 50px;
	text-decoration:none;
	color: #ffffff;
	font-size: 17px;
    opacity: 0.9;
    background: none;
    border: none;
}

.header-basic .header-limiter nav button:hover{
    opacity: 1;
    font-size: 20px;
}

.header-basic .header-limiter nav button.selected {
	color: orange;
	opacity: 1;
}

/* Game design*/

table {
    border-radius:  5px;
    box-shadow: 0px 2px 5px #1c1a19;
    margin: 20px;
    border: 1px solid black;
    display: inline-block;
}

.caseclass {
    box-sizing: border-box;
    border: var(--border-cell) solid;
    background-color: Sienna;
    width: var(--size-cell);
    height: var(--size-cell);
    float: left;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 3px #1c1a19;
    
}

.pionclass {
    box-sizing: border-box;
    background-color: black;
    border: 2px solid;
    width:var(--size-pion);
    height:var(--size-pion);
    border-radius: 50%;
    z-index: 1;
    padding: 5;
    margin: 5px;
    position: relative;
    box-shadow: 0px 2px 3px #1c1a19;
}
div.jeuclass {
    text-align: center;
    position: relative;
}

.ballclass {
    box-sizing: border-box;
    background-color: red;
    border: 1px solid;
    width:80%;
    height:80%;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    top: 10%;
    left: 10%;
    box-shadow: 0px 2px 3px #1c1a19;
}

/* Footer */

footer {
    position: relative;
    /*width: 100%;*/
    background-color: #c1c4c7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    padding:  10px 20px;
    font: normal 14px Cookie, Arial, Helvetica, sans-serif;
    color: #292c2f;
    height: 40px;
    
  }

  .win p a {
    color: #292c2f;
}
  .win {
      text-align: center;
      font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  }

  .win p span {
    color: #292c2f;
    text-transform: uppercase;
}